<p id="notice"><%= notice %></p>
<%= link_to "通院履歴", new_visit_history_path(visit_history: { client_id: @client.id } ) %>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
